[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pdbpp = "*"
pudb = "*"
responses = "*"

[packages]
flask = "*"
cloudflare = "*"
gunicorn = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
